name: Reusable docker publish

on:
  workflow_call:
    inputs:
      packageName:
        description: Name of the package to publish
        required: false
        type: string

jobs:
  run:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Build Docker and publish
        id: tags
        env:
          BRANCH_NAME: ${{ github.ref_name }}
        run: |
          echo "commitSha=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
          echo "date=$(date +%s)" >> "$GITHUB_OUTPUT"

          case "${BRANCH_NAME}" in
            *master)   TAG_PREFIX="";       TAG_SUFFIX="latest" ;;
            *stage)  TAG_PREFIX="stage-"; TAG_SUFFIX="stage"  ;;
            *) echo "âŒ Unsupported branch: ${BRANCH_NAME}" >&2; exit 1 ;;
          esac

          echo "tagPrefix=$TAG_PREFIX" >> "$GITHUB_OUTPUT"
          echo "tagSuffix=$TAG_SUFFIX" >> "$GITHUB_OUTPUT"

      - name: Build and push
        if: inputs.packageName
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/rees46/${{ inputs.packageName }}:${{ steps.tags.outputs.tagSuffix }}
            ghcr.io/rees46/${{ inputs.packageName }}:${{ steps.tags.outputs.tagPrefix }}${{ steps.tags.outputs.commitSha }}-${{ steps.tags.outputs.date }}
          cache-from: type=gha,scope=${{ inputs.packageName }}
          cache-to: type=gha,mode=max,scope=${{ inputs.packageName }}
