name: Reusable Atlantis checks

on:
  workflow_call:
    inputs:
      node-version:
        description: 'Node version to run this workflow. Default: 22'
        default: '22'
        required: false
        type: string
      playwright-version:
        description: 'Playwright version to install. Default: 1.55.0'
        default: '1.55.0'
        required: false
        type: string

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR
        run: echo $GITHUB_TOKEN | docker login ghcr.io -u $REPOSITORY_OWNER --password-stdin
        env:
          REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}

      - name: Yarn cache directory
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install
        run: yarn install --inline-builds

      - name: Install playwright
        run: |
          if yarn why playwright 2>/dev/null | grep -q 'playwright'; then
            echo "Playwright is present as a dependency. Installing..."
            yarn dlx playwright@${{ inputs.playwright-version }} install --with-deps
          else
            echo "Playwright is not listed as a dependency. Skipping installation."
          fi

      - name: Checks
        run: yarn checks run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
